@page
@inject StudentAssignments.Web.Services.GroupService GroupService
@model StudentAssignments.Web.Pages.Admin.Users.EditModel

@{
    ViewData["Title"] = "Редактирование пользователя";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Input.Id" />
            <div class="form-group">
                <label asp-for="Input.UserName" class="control-label"></label>
                <input asp-for="Input.UserName" class="form-control" readonly />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Roles" class="control-label"></label>
                @for (int i = 0; i < Model.Input.Roles.Length; i++)
                {
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Input.Roles[i].IsChecked" /> @Model.Input.Roles[i].Name
                        </label>
                        <input type="hidden" asp-for="Input.Roles[i].Id" />
                        <input type="hidden" asp-for="Input.Roles[i].Name" />
                    </div>
                }
                <span asp-validation-for="Input.Roles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName" class="control-label"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FirstName" class="control-label"></label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.MiddleName" class="control-label"></label>
                <input asp-for="Input.MiddleName" class="form-control" />
                <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.GroupId" class="control-label"></label>
                <select asp-for="Input.GroupId" asp-items="@GroupService.ListGroups().Select(g => new SelectListItem() { Text = g.Name, Value = g.Id.ToString() })" id="group-select" class="form-control">
                    <option value="">-</option>
                </select>
                <span asp-validation-for="Input.GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password" class="control-label"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="control-label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function() {
            $('#group-select').select2();
        });
    </script>
}
